h1 {
    font-size: 96px;
    color: #F5F5F5;
}

h2 {
    font-size: 76px;
    color: #F5F5F5;
}


h3 {
    font-size: 64px;
}

h4 {
    font-size: 48px;
}

h5 {
    font-size: 32px;
}

p {
    font-size: 24px;
}

section {
    margin-top: 50px;
    margin-bottom: 50px;
}