h1 {
    font-size: 48px;
}

body {
    background-color: #F5F5F5;
}

.frame {
    background-color: white;
    border: 2px solid #C5C5C5;
    padding: 10px;
    border-radius: 5px; 
}

@media (min-width: 768px) { 
    .col-md-2 {
        flex: 0 0 12%;
    }
}

@media (max-width: 768px) { 
    .download-button {
        display: none;
    }
}

