{% extends "aicube_app/page-base.html" %}

{% block information %}


<section>
    <h3>Philosophy</h3>


</section>

<section>
    <h3>History</h3>
    

</section>

<section>
    <h3>Turing Test</h3>
    

</section>


<section>
    <h3>Ethics</h3>
    

</section>

<section>
    <h3>AI vs Human</h3>
    

</section>

<section>
    <h3>Limitations</h3>
    

</section>

<section>
    <h3>Future</h3>
    

</section>


<h4>Title 2</h4>

<h5>Title 3</h5>

<p> This is some text</p>

{% endblock %}