<!DOCTYPE html>
<html>
<head>
    <title>AI-Cube</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- Bootstrap CSS and JS -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">

 
    {% load static %}
    <!-- Include static CSS files -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/aicube-base.css' %}">  
    <link rel="stylesheet" type="text/css" href="{% static 'css/cube.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/page.css' %}">   
    
    <!-- Include static JS files -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
   
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'favicons/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="48x48" href="{% static 'favicons/favicon-48x48.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'favicons/android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'favicons/android-chrome-512x512.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top shadow">
        <div class="container-fluid">
            <a class="navbar-brand m-2 d-flex align-items-center" href="{% url 'ai-cube' %}">
                <img src="{% static 'images/cube-64x64.png' %}" alt="Favicon">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav"> <!-- justify-content-center centers the navbar items -->
                <ul class="navbar-nav">
                    <!-- Fundations of AI -->
                    <li class="nav-item dropdown">
                        <a class="nav-link fs-3 mx-3 dropdown-toggle" href="#" data-href="{% url 'ai-view' %}" id="aiDropdown" role="button" data-toggle="dropdown" aria-expanded="false">Foundations of AI</a>
                        <ul class="dropdown-menu ai-dropdown" aria-labelledby="aiDropdown">
                            <li><a class="dropdown-item" href="#subtopic1">Philosophy</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">History</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">Turing Test</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">Ethics</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">AI vs Human</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">Limitations</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">Future</a></li>
                        </ul>
                    </li>
                    <!-- Machine Learning -->
                    <li class="nav-item dropdown">
                        <a class="nav-link fs-3 mx-3 dropdown-toggle" href="#" data-href="{% url 'ml-view' %}" id="mlDropdown" role="button" data-toggle="dropdown" aria-expanded="false">Machine Learning</a>
                        <ul class="dropdown-menu ml-dropdown" aria-labelledby="mlDropdown">
                            <li><a class="dropdown-item" href="#subtopic1">Philosophy</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">History</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">Turing Test</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">Ethics</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">AI vs Human</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">Limitations</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">Future</a></li>
                        </ul>
                    </li>
                    <!-- Neural Networks -->
                    <li class="nav-item dropdown">
                        <a class="nav-link fs-3 mx-3 dropdown-toggle" href="#" data-href="{% url 'nn-view' %}" id="nnDropdown" role="button" data-toggle="dropdown" aria-expanded="false">Neural Networks</a>
                        <ul class="dropdown-menu nn-dropdown" aria-labelledby="nnDropdown">
                            <li><a class="dropdown-item" href="#subtopic1">Philosophy</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">History</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">Turing Test</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">Ethics</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">AI vs Human</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">Limitations</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">Future</a></li>
                        </ul>
                    </li>
                    <!-- NLP -->
                    <li class="nav-item dropdown">
                        <a class="nav-link fs-3 mx-3 dropdown-toggle" href="#" data-href="{% url 'nlp-view' %}" id="nlpDropdown" role="button" data-toggle="dropdown" aria-expanded="false">NLP</a>
                        <ul class="dropdown-menu nlp-dropdown" aria-labelledby="nlpDropdown">
                            <li><a class="dropdown-item" href="#subtopic1">Philosophy</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">History</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">Turing Test</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">Ethics</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">AI vs Human</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">Limitations</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">Future</a></li>
                        </ul>
                    </li>
                    <!-- LLMs -->
                    <li class="nav-item dropdown">
                        <a class="nav-link fs-3 mx-3 dropdown-toggle" href="#" data-href="{% url 'llm-view' %}" id="robDropdown" role="button" data-toggle="dropdown" aria-expanded="false">LLM</a>
                        <ul class="dropdown-menu rob-dropdown" aria-labelledby="robDropdown">
                            <li><a class="dropdown-item" href="#subtopic1">Philosophy</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">History</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">Turing Test</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">Ethics</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">AI vs Human</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">Limitations</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">Future</a></li>
                        </ul>
                    </li>
                    <!-- Computer Vision -->
                    <li class="nav-item dropdown">
                        <a class="nav-link fs-3 mx-3 dropdown-toggle" href="#" data-href="{% url 'cv-view' %}" id="cvDropdown" role="button" data-toggle="dropdown" aria-expanded="false">Computer Vision</a>
                        <ul class="dropdown-menu cv-dropdown" aria-labelledby="cvDropdown">
                            <li><a class="dropdown-item" href="#subtopic1">Philosophy</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">History</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">Turing Test</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">Ethics</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">AI vs Human</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">Limitations</a></li>
                            <li><a class="dropdown-item" href="#subtopic1">Future</a></li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}

    {% endblock %}
</body>
<script src="{% static 'js/cube.js' %}"></script>
<script src="{% static 'js/dropdown.js' %}"></script>
</html>
