{% extends "aicube_app/base.html" %}

{% block content %}

<div class="d-flex flex-column vh-100 justify-content-center align-items-center mt-n2">
    <h1 class="my-header">Foundations of AI</h1>
    
    <div class="scene mb-4">
        <div class="cube">
            <!-- Front face, Foundations of AI-->
            <div class="face front d-flex flex-wrap">
                <a href="#" class="square">Philosophy</a>
                <a href="#" class="square">History</a>
                <a href="#" class="square">Turing Test</a>
                <a href="#" class="square">Ethics</a>
                <a href="#" class="square">AI vs Human</a>
                <a href="#" class="square">Limitations</a>
                <a href="#" class="square">Future</a>
                <a href="#" class="square"></a>
                <a href="#" class="square"></a>

            </div>
            <!-- Top face, Machine Learning -->
            <div class="face top d-flex flex-wrap">
                <a href="#" class="square">Supervised Learning</a>
                <a href="#" class="square">Unsupervised Learning</a>
                <a href="#" class="square">Reinforcement Learning</a>
                <a href="#" class="square">Deep Learning</a>
                <a href="#" class="square">Model Evaluation</a>
                <a href="#" class="square">Feature Engineering</a>
                <a href="#" class="square">Ensemble Methods</a>
                <a href="#" class="square">Bias and Fairness</a>
                <a href="#" class="square">Transfer Learning</a>
            </div>
            <!-- Back face, Neural Networks-->
            <div class="face back d-flex flex-wrap">
                <a href="#" class="square">Feedforward NNs</a>
                <a href="#" class="square">Convolutional NNs</a>
                <a href="#" class="square">Recurrent NNs</a>
                <a href="#" class="square">Deep NNs</a>
                <a href="#" class="square">Activation Functions</a>
                <a href="#" class="square">Loss Functions</a>
                <a href="#" class="square">Backpropagation</a>
                <a href="#" class="square">Network Architecture</a>
                <a href="#" class="square">Regularization Techniques</a>
            </div>
            <!-- Left face, NLP & LLMs -->
            <div class="face left d-flex flex-wrap">
                <a href="#" class="square">Syntax and Parsing</a>
                <a href="#" class="square">Semantics</a>
                <a href="#" class="square">Named Entity Recognition</a>
                <a href="#" class="square">Machine Translation</a>
                <a href="#" class="square">Speech Recognition</a>
                <a href="#" class="square">Sentiment Analysis & Topic Modeling</a>
                <a href="#" class="square">Chatbots</a>
                <a href="#" class="square">Large Language Models</a>
                <a href="#" class="square">Fine-tuning & Customizing LLMs</a>
            </div>
            <!-- Right face, Computer Vision -->
            <div class="face right d-flex flex-wrap">
                <a href="#" class="square">Image Classification</a>
                <a href="#" class="square">Object Detection</a>
                <a href="#" class="square">Image Segmentation</a>
                <a href="#" class="square">Facial Recognition</a>
                <a href="#" class="square">Optical Character Recognition</a>
                <a href="#" class="square">Image Generation (e.g., GANs)</a>
                <a href="#" class="square">Video Analysis</a>
                <a href="#" class="square">Scene Reconstruction</a>
                <a href="#" class="square">Augmented Reality</a>
            </div>
            <!-- Bottom face, Robotics-->
            <div class="face bottom d-flex flex-wrap">
                <a href="#" class="square">Motion and Path Planning</a>
                <a href="#" class="square">Human-Robot Interaction</a>
                <a href="#" class="square">Sensor Integration</a>
                <a href="#" class="square">Autonomous Vehicles</a>
                <a href="#" class="square">Drone Technology</a>
                <a href="#" class="square">Swarm Robotics</a>
                <a href="#" class="square">Robotic Surgery</a>
                <a href="#" class="square">Virtual Agents</a>
                <a href="#" class="square">Reinforcement Learning in Robotics</a>
            </div>
        </div>
    </div>
    <button id="rotateButton" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Press space to shuffle">
        Rotate Cube
    </button>
    
</div>

{% endblock %}