{% load socialaccount %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h2>Custom login view</h2>
    <a href="{% url 'resume-view' %}">Back</a>
    <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit">Login</button>
    </form>
    <h3>Or login with:</h3>
    <ul>
        <li><a href="{% provider_login_url 'github' %}">GitHub</a></li>
    </ul>
    <p><a href="{% url 'account_signup' %}">Sign up</a></p>
</body>
</html>
