<!DOCTYPE html>
<html>
    <head>
        <title>Image Editor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Optional Bootstrap JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- Your custom CSS -->
        <!-- Favicon -->
        <!-- [Your favicon links] -->
    </head>
    <body>
        <div class="container mt-5">
            <h2>Image Editor</h2>
            <form method="POST" enctype="multipart/form-data" class="my-4">
                {% csrf_token %}
                <div class="form-group">
                    <input type="file" name="image" class="form-control-file">
                </div>

                <!-- Checkboxes for color scales in a single row -->
                <div class="form-row mb-3">
                    <div class="col-md-2">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="grayscale" id="grayscale">
                            <label class="form-check-label" for="grayscale" style="color: grey;">Grayscale</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="redscale" id="redscale">
                            <label class="form-check-label" for="redscale" style="color: red;">Redscale</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="greenscale" id="greenscale">
                            <label class="form-check-label" for="greenscale" style="color: green;">Greenscale</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="bluescale" id="bluescale">
                            <label class="form-check-label" for="bluescale" style="color: blue;">Bluescale</label>
                        </div>
                    </div>
                    <!-- Custom color picker -->
                    <div class="col-md-1">
                        <label>Custom</label>
                    </div>
                    <div class="col-md-1">
                        <input type="color" id="colorPicker" name="color" value="{{ selected_color }}" class="form-control form-control-color">
                    </div>
                </div>

    



                <button type="submit" class="btn btn-primary">Upload</button>
            </form>

            {% if image_data_url %}
                <div class="image-display my-4">
                    <img src="{{ image_data_url }}" alt="Processed Image" class="img-fluid">
                    <a href="{{ image_data_url }}" download="processed_image.jpg" class="btn btn-success mt-3">Download Image</a>
                </div>
            {% endif %}
        </div>
    </body>
</html>
