/* navbar toggler is the media menu icon*/
.navbar-toggler {
    transition: transform 0.3s;
    color: var(--background-color);
    border-color: var(--background-color);
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 8px;
}

.dark-mode .navbar-toggler {
    color: var(--darkmode-secondary-color);
    border-color: var(--darkmode-secondary-color);
}

.navbar-toggler::before {
    content: '\2630'; /* Hamburger icon */
    font-size: 24px; /* Adjust size as needed */
    display: block;
}

.navbar-toggler[aria-expanded="true"]::before {
    content: '\00D7'; /* 'X' character */
    padding-right: 3px;
    padding-left: 3.5px;
}

/* No normal bullet points in the dropdown menu*/
ul {
    list-style-type: none;
    color: var();
    margin: 0;
    padding: 0;
}

.dark-mode ul {
    color: var(--darkmode-secondary-color);
}