body {
    background-color:#002255;
}

h1 {
    color: #F5F5F5; /* Text color for headings */
}

p {
    color: #666666; /* Text color for paragraphs */
}

.fs-2 {
    color:#666666;
}

.fs-5 {
    color:#666666;
    font-weight: bold;
}

.description {
    color:#666666;
}

#brandname {
    color:#002255;
}

.navbar {
    background-color: #F5F5F5; /* White background for the navbar */
}

.nav-link {
    color: #002255;
}
@media (max-width: 991px) {
    .navbar-nav .nav-item {
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.2s, transform 0.2s;
    }

    .navbar-collapse.show .nav-item:nth-child(1) {
        transition-delay: 0.1s;
    }
    .navbar-collapse.show .nav-item:nth-child(2) {
        transition-delay: 0.2s;
    }
    .navbar-collapse.show .nav-item:nth-child(3) {
        transition-delay: 0.3s;
    }
    .navbar-collapse.show .nav-item:nth-child(4) {
        transition-delay: 0.4s;
    }
    .navbar-collapse.show .nav-item:nth-child(5) {
        transition-delay: 0.5s;
    }

    .navbar-collapse.show .nav-item {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Style each section with a minimum height of 100vh */
.resume-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 105px;  /* Adjust based on the height of your navbar */
    margin-top: -105px; /* Adjust based on the height of your navbar */
}

.container {
    background-color: #F5F5F5;
    padding: 50px;
    margin-top: 30px;
    border-radius: 10px;
    max-width: 50%;
}

.card {
    margin: 20px;
    background-color: #F5F5F5;
    border-color: #002255;
}

.btn {
    background-color: green;
    border-color: green;
}

.btn:hover {
    color: green;
    background-color: #F5F5F5;
    border-color: green;
}

/* No normal bullets please */
ul {
    list-style-type: none;
    color: #002255;
    margin: 0;
    padding: 0;
}


.navbar-toggler {
    border-color: rgba(0,34,85,.2);
}

.navbar-toggler {
    transition: transform 0.3s;
    color: #002255;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 8px;
}

.navbar-toggler::before {
    content: '\2630'; /* Hamburger icon */
    font-size: 24px; /* Adjust size as needed */
    display: block;
}

.navbar-toggler[aria-expanded="true"]::before {
    content: '\00D7'; /* 'X' character */
    padding-right: 3px;
    padding-left: 3.5px;
}

#about-css {
    margin-top: 20px;
} 

@media (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 20px;
        margin-top: 10px;
    }

    .resume-section{
        margin-bottom: 20px;
    }

    .card {
        padding: 0;
        margin-bottom: 0;
    }
}