/* Body */
body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--background-color);
    color: var(--secondary-color);
}

body.dark-mode {
    background-color: var(--darkmode-background-color);
    color: var(--darkmode-secondary-color);
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
}

.dark-mode .navbar {
    background-color: var(--darkmode-primary-color); 
}

.nav-link, 
.nav-link:visited, 
.nav-link:focus {
    color: var(--secondary-color); 
}

.dark-mode .nav-link,
.dark-mode .nav-link:visited,
.dark-mode .nav-link:focus {
    color: var(--darkmode-secondary-color); 
}

.nav-link:focus {
    outline: none;
}

.nav-link:hover {
    color: var(--background-color); 
}

.dark-mode .nav-link:hover {
    color: var(--darkmode-tertiary-color);
}

/* Intro section */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1;
    }
}

.typing::after {
    content: "|";
    animation: blink 1s infinite;
}

.intro-header {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 32px;
}

.profile-img {
    border: none;
    border-radius: 6px;
    transition: transform 0.3s ease; /* Smooth transition effect */
}

.profile-img:hover {
    transform: scale(1.1);
}

/* General sections, headers, text and margins */

h1 {
    color: var(--text-color);
}

.dark-mode h1 {
    color: var(--darkmode-text-color)
}

p {
    color: var(--text-primary-color);
    font-size: 20px;
}

.dark-mode p{
    color: var(--darkmode-text-primary-color);
}

.resume-section-header {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 300;
    color: var(--primary-color);
}

.resume {
    margin-top: 60px;
    margin-bottom: 60px;
}

.resume-section {
    display: flex;
    flex-direction: column;
    padding-top: 30px;  /* Adjust based on the height of your navbar */
    margin-top: -30px; /* Adjust based on the height of your navbar */
}

.container {
    background-color: var(--primary-color);
    padding: 50px;
    border-radius: 10px;
    max-width: 50%;
}

.dark-mode .container {
    background-color: var(--darkmode-primary-color);
}

.card {
    margin: 20px;
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
}

.dark-mode .card {
    background-color: var(--darkmode-primary-color);
    border-color: var(--darkmode-secondary-color);
}

.card {
    transition: transform 0.3s ease; /* Smooth transition effect */
}

.description {
    margin-top: 10px;
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.75;
    max-width: 85%;  /* You can adjust this value based on your design needs */
    word-wrap: break-word;  /* This ensures that the text wraps to the next line */
    display: inline-block;  /* Makes max-width apply to the span */
}

.dark-mode .description {
    color: var(--darkmode-secondary-color);
}

/* Override the bootrap btn style */
.btn {
    background-color: var(--background-color)!important;
    border-color: var(--background-color)!important;
    border-width: 2px;
}

.btn:hover, .btn:focus {
    box-shadow: 0 0 8px var(--background-color)!important;
}

.dark-mode .btn {
    color: var(--darkmode-secondary-color)!important;
    background-color: var(--darkmode-tertiary-color)!important;
    border-color: var(--darkmode-tertiary-color)!important;
}

.dark-mode .btn:hover, .dark-mode .btn:focus{
    box-shadow: 0 0 8px var(--darkmode-secondary-color)!important;
}

/* Footer */
.section-break { /*space before footer on mobile device*/
    display: none;
}

footer {
    color: var(--tertiary-color);
    background: var(--primary-color);
    padding-top: 6vh!important;
    padding-bottom: 14vh!important;
}

.footer-link {
    color: var(--tertiary-color);
}

.footer-header, body.dark-mode .footer-header {
    color: var(--darkmode-background-color);
    font-size: 48px;
    font-weight: 300;
}

.easter-egg {
    max-width: 6vw;   /* 50% of viewport width */
    max-height: 6vh;  /* 50% of viewport height */
    width: auto;       /* Maintain aspect ratio */
    height: auto;      /* Maintain aspect ratio */
}