:root {
    /* Define color variables */
    --primary-color: #f5f5f5;
    --secondary-color: #888888;
    --tertiary-color: #181818;
    --background-color: #6cb79d;

    /* Define dark mode color vaiables*/
    --darkmode-primary-color: #3d3d3d;
    --darkmode-secondary-color: #f5f5f5;
    --darkmode-tertiary-color: #212121;
    --darkmode-background-color: #212121;
}
