body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #999999;
}

.canvas {
    background-color: #244C3C;
    border-style: solid;
    border-width: 2vh;
    border-radius: 2%;
    border-color: #BC8C5C;
    height: 560px;
    width: 560px;
}

@media (max-width: 768px) {
    .canvas {
        height: 280px;
        width: 280px;
    }

}