.navbar {
    background-color: #F5F5F5; /* White background for the navbar */
}

body {
    background-color:#002255;
}

.nav-link {
    color: #002255;
}

/* Style each section with a minimum height of 100vh */
.resume-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.container {
    background-color: #F5F5F5;
    padding: 50px;
    margin-top: 30px;
    border-radius: 10px;
    max-width: 50%;
}

h1 {
    color: #F5F5F5; /* Text color for headings */
}

p {
    color: #002255; /* Text color for paragraphs */
}

.card {
    margin: 20px;
    background-color: #F5F5F5;
    border-color: #002255;
}

.btn {
    background-color: green;
    border-color: green;
}

.btn:hover {
    color: green;
    background-color: #F5F5F5;
    border-color: green;
}

/* No normal bullets please */
ul {
    list-style-type: none;
    color: #002255;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .container {
        max-width: 90%;
        padding: 20px;
        margin-top: 10px;
    }

    .resume-section{
        padding: 0;
        margin-bottom: 20px;
    }

    .card {
        padding: 0;
        margin-bottom: 0;
    }

    #about-css {
        margin-top: 20px;
    }
}