<!DOCTYPE html>
<html>
<head>
    <title>Number Guesser</title>
    <!-- Bootstrap CSS and JS -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!-- Include static CSS files -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mnist_styles.css' %}">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
</head>
<body>
    <a href="{% url 'resume-view' %}" class="btn btn-primary m-3">Back to Resume Page</a>
    <div class="container text-center mt-4">
        <h1 class="display-2">Write a Number 0-9</h1>
        <canvas class="my-3" id="drawingCanvas" width="560" height="560" style="border: 1px solid #000;"></canvas>
        <br>
        <button id="clearButton" class="btn btn-danger">Clear</button>
        <button id="guessButton" class="btn btn-primary">Predict</button>
        <div class="mt-3 display-4" id="predictionResult"></div>
    </div>
</body>
<!-- Include static JS files -->
<script src="{% static 'js/canvas.js' %}"></script>
</html>
