{% extends "spotifyapp/base.html" %}

{% block title %}Song Information: {{ song.title }}{% endblock %}

{% block content %}
<h1 class="text-center">{{ song.title }} 
    - 
   {% if song.artists.all %}
       {% for artist in song.artists.all %}
           <span class="text-spotify-green">{{ artist.name }}</span>{% if not forloop.last %}<span class="text-spotify-green">,</span>{% endif %}
       {% endfor %}
   {% else %}
       No artists found
   {% endif %}
</h1>

        <ul class="list-group">
            <li class="list-group-item bg-light-grey d-flex justify-content-between">
                <span class="text-white no-underline">Spotify Ranking</span>
                <span class="text-white no-underline">#{{ song.in_spotify_charts }}</span>
            </li>
            <li class="list-group-item bg-light-grey d-flex justify-content-between">
                <span class="text-white no-underline">Spotify Playlists</span>
                <span class="text-white no-underline">{{ song.in_spotify_playlists }}</span>
            </li>
            <li class="list-group-item bg-light-grey d-flex justify-content-between">
                <span class="text-white no-underline">Streams</span>
                <span class="text-white no-underline">{{ song.streams }}</span>
            </li>
            <li class="list-group-item bg-light-grey d-flex justify-content-between">
                <span class="text-white no-underline">BPM</span>
                <span class="text-white no-underline">{{ song.bpm }}</span>
            </li>
            <li class="list-group-item bg-light-grey d-flex justify-content-between">
                <span class="text-white no-underline">Release Date</span>
                <span class="text-white no-underline">{{ song.released_date }}</span>
            </li>
            <li class="list-group-item bg-light-grey d-flex justify-content-between">
                <span class="text-white no-underline">Dance</span>
                {% if song.danceability_percentage == 1 %}
                    <span style="color: #FF6961">Low</span>
                {% elif song.danceability_percentage == 2 %}
                    <span style="color: #F8D66D">Medium</span>
                {% elif song.danceability_percentage == 3 %}
                    <span style="color: #8CD47E">High</span>
                {% endif %}
            </li>
            <li class="list-group-item bg-light-grey d-flex justify-content-between">
                <span class="text-white no-underline">Energy</span>
                {% if song.energy_percentage == 1 %}
                    <span style="color: #FF6961">Low</span>
                {% elif song.energy_percentage == 2 %}
                    <span style="color: #F8D66D">Medium</span>
                {% elif song.energy_percentage == 3 %}
                    <span style="color: #8CD47E">High</span>
                {% endif %}
            </li>
            <li class="list-group-item bg-light-grey d-flex justify-content-between">
                <span class="text-white no-underline">Acoustic</span>
                {% if song.acousticness_percentage == 1 %}
                    <span style="color: #FF6961">Low</span>
                {% elif song.acousticness_percentage == 2 %}
                    <span style="color: #F8D66D">Medium</span>
                {% elif song.acousticness_percentage == 3 %}
                    <span style="color: #8CD47E">High</span>
                {% endif %}
            </li>
            <li class="list-group-item bg-light-grey d-flex justify-content-between">
                <span class="text-white no-underline">Speech</span>
                {% if song.speechiness_percentage == 1 %}
                    <span style="color: #FF6961">Low</span>
                {% elif song.speechiness_percentage == 2 %}
                    <span style="color: #F8D66D">Medium</span>
                {% elif song.speechiness_percentage == 3 %}
                    <span style="color: #8CD47E">High</span>
                {% endif %}
            </li>
        </ul>

{% endblock %}
