<!DOCTYPE html>
<html>
<head>
    <title>Resume Page</title>
    <!-- Bootstrap CSS and JS -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!-- Favicon -->
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
</head>
<body>
    
    <div class="container text-center mt-4">
        <a href="{% url 'mnist-view' %}" class="btn btn-primary m-3">MNIST</a>
        <a href="{% url 'song-search' %}" class="btn btn-primary m-3">Spotistats</a>
    </div>

</body>
</html>
