{% extends "private_app/base.html" %}

{% block content %}
<h1>
    Math reminder notes
</h1>

<section>
    <h2>
        Matrix multiplication
    </h2>
</section>

<section>
    <h2>
        Dot product
    </h2>
</section>

<section>
    <h2>
        Transpose matrix
    </h2>
</section>

<section>
    <h2>
        Distance norm, 1,2 and so on....
    </h2>
</section>

<section>
    <h2>
        Squared error y - y_hat why must be ||y - y_hat || for higher dim
    </h2>
</section>

<section>
    <h2>
        Convex property - soft: \_/ vs hard: U
    </h2>
</section>

<section>
    <h2>
        Partial derivative
    </h2>
</section>


<section>
    <h2>
        Jacobian
    </h2>
</section>

<section>
    <h2>
        NP and NP-hard problems

    </h2>
</section>

<section>
    <h2>
        Gaussians
    </h2>
</section>

<section>
    <h2>
        Normalize data x_data - x_min / (x_max - x_min) delta förskjuter alltid minvärdet till 0 och maxvärde = 1
    </h2>
</section>

{% endblock %}