<!-- task_list.html -->

{% extends 'todolist_app/base.html' %}

{% block content %}
<h2>TodoList</h2>
<ul class="list-group">
    {% for task in tasks %}
        <a href="{% url 'task_detail' task_id=task.id %}">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ task.title }}
                <!-- Edit task form -->
                <form method="post" action="{% url 'task_update' task_id=task.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-sm float-end">Edit</button>
                </form>
                <!-- Delete task form -->
                <form method="post" action="{% url 'task_delete' task_id=task.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm float-end">Remove</button>
                </form>
            </li>
        </a>
    {% endfor %}
</ul>
<!-- Button to trigger modal -->
<a href="{% url 'task_create' %}" class="btn btn-primary mt-3">
    Add Task
</a>
{% endblock %}
