{% extends 'todolist_app/base.html' %}

{% block content %}
<h2 class="fs-1 mb-5">Todo List</h2>
{% if tasks %}
<ul class="list-group p-5">
    {% for task in tasks %}
        <a href="{% url 'task_detail' task_id=task.id %}" class="text-decoration-none">
            <li class="list-group-item status-{{ task.status.lower }} d-flex justify-content-between align-items-center fs-3 m-2">
                <!-- Apply appropriate CSS class based on task status -->
                <div class="ms-4">{{ task.title }} : {{ task.status }}</div>
                <div>
                    <!-- Edit task -->
                    <a href="{% url 'task_update' task_id=task.id %}" class="btn btn-primary btn-sm">
                        <i class="fas fa-edit"></i>
                    </a>
                    <!-- Delete task -->
                    <a href="{% url 'task_delete' task_id=task.id %}" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </li>
        </a>
    {% endfor %}
</ul>
{% endif %}
<div class="d-flex justify-content-center mt-3">
    <a href="{% url 'task_create' %}" class="btn btn-primary mt-3 add-task-btn">+</a>
</div>
{% endblock %}
