{% extends 'todolist_app/base.html' %}

{% block content %}
    {% load crispy_forms_tags %}
    <h2>{{ task.title }}</h2>
    <p>Description: {{ task.description }}</p>
    <p>Status: {{ task.status }}</p>
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- Form fields -->
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="Update">
        <a href="{% url 'task_list' %}" class="btn btn-danger">Cancel</a>
    </form>
{% endblock %}
