.btn {
    font-size: 20px;
}

form {
    width: 50vh;
}

.add-task-btn {
    font-size: 40px;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-group {
    width: 80vh!important;
    border: solid;
    border-radius: 8px;
    border-color: grey;
    padding: 24px;
}

.list-group-item {
    border: solid;
    border-radius: 10px!important;
    border-color: lightgray;
}

/* Define CSS classes for different status colors */
.status-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: solid;
    border-width: 3px;
    border-color: rgb(255, 76, 76);
    background-color: rgb(255, 76, 76);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 4%; 
    height: 100%;
    z-index: 0; 
}

.status-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: solid;
    border-width: 3px;
    border-color: rgb(255, 235, 81);
    background-color: rgb(255, 235, 81);
    border-top-left-radius: 8px; 
    border-bottom-left-radius: 8px; 
    width: 4%; 
    height: 100%;
    z-index: 0;
}

.status-3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: solid;
    border-width: 3px;
    border-color: rgb(92, 163, 255);
    background-color: rgb(92, 163, 255);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 4%; 
    height: 100%;
    z-index: 0; 
}

.status-4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: solid;
    border-width: 3px;
    border-color: rgb(75, 216, 50);
    background-color: rgb(75, 216, 50);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 4%; 
    height: 100%;
    z-index: 0; 
}