body {
    background-color: #F5F5F5;
}

form {
    width: 50vh;
}

a {
    color: #444444;
}

a:hover {
    color: #888888;
}

.btn {
    font-size: 20px;
}

.add-task-btn {
    font-size: 32px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link-custom {
    color: #000000; /* White text */
    background-color: #FFFFFF!important;
    border: solid!important;
    border-top-left-radius: 8px!important;
    border-top-right-radius: 8px!important;
    border-color: #666666!important;
    border-bottom: none!important;
}
.nav-link-custom.active {
    color: #FFFFFF!important; /* Black background for active tab */
    background-color: #666666!important; /* Black background for active tab */
}

.nav-link-custom.active:hover {
    color: #FFFFFF!important; /* Black background for active tab */
    background-color: #AAAAAA!important; /* Black background for active tab */
    border-color: #AAAAAA!important; 
}

.nav-link-custom:hover {
    color: #AAAAAA!important; /* Slightly darker grey on hover */
    border-color: #AAAAAA!important; 
}

.list-group {
    width: 80vh!important;
    border: solid;
    border-radius: 8px;
    border-color: #666666;
    background-color: #FFFFFF;
}

.list-group-item {
    border: solid;
    border-radius: 10px!important;
    border-color: #666666;
}
.box {
    max-width: 50vh;
    width: 50vh;
    box-sizing: border-box;
}

.badge {
    font-size: 16px!important;
    padding: 2%!important;
    color: #F5F5F5;
}

/* Define CSS classes for different status colors */
.status-1-color {
    background-color: #E71D36;
}

.status-2-color {
    background-color: #F39237;
}

.status-3-color {
    background-color: #FFD300;
}

.status-4-color {
    background-color: #7FB800;
}

.status-1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: solid;
    border-width: 3px;
    border-color: #E71D36;
    background-color: #E71D36;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 4%; 
    height: 100%;
    z-index: 0; 
}

.status-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: solid;
    border-width: 3px;
    border-color: #F39237;
    background-color: #F39237;
    border-top-left-radius: 8px; 
    border-bottom-left-radius: 8px; 
    width: 4%; 
    height: 100%;
    z-index: 0;
}

.status-3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: solid;
    border-width: 3px;
    border-color: #FFD300;
    background-color: #FFD300;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 4%; 
    height: 100%;
    z-index: 0; 
}

.status-4::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: solid;
    border-width: 3px;
    border-color: #32CD32;
    background-color: #32CD32;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 4%; 
    height: 100%;
    z-index: 0; 
}